<!--<app-detalle [paciente]="paciente"></app-detalle>-->
<ul *ngIf="auth">

    <li class="row">
        <h4 [routerLink]="['/noAuth']" (click)="cerrarSesion()"  class="log-out">Cerrar Sesión</h4>
    </li>

</ul> 

<div class="row">
    <div class="col">
        <i routerLink="/pacientes" class=" atras fa-solid fa-circle-left"></i>
    </div>
</div>

<div class="container mt-4 animate__animated animate__fadeIn">
    
    <div class="row">
        <div class="col titulo1">
            <h2>Agendar un turno</h2>
            <hr class="hr">
        </div>
    </div>
    <div class="row">
        <div class="col titulo4">
            <h4>Paciente: <small>{{paciente.nombres}}</small></h4>
            <div>
                <p *ngIf="paciente.turno">Tiene cita para el <span> {{paciente.turno | date: 'fullDate':'':'es'}}</span></p>
                <p class="info" *ngIf="!paciente.turno">No tiene cita</p>
            </div>
            <div><p class="cambiar" *ngIf="paciente.turno">Desea hacer un cambio de fecha?</p></div>
            
            <form  [formGroup]="formTurno" (submit)="agendar()">
                
                <div class="inputFecha field input-field mt-3 m-5">
                    <label *ngIf="!paciente.turno">Seleccionar fecha:</label>
                    <label *ngIf="paciente.turno">Seleccionar otra fecha:</label>
                    <input type="date" appFecha
                    [min]="fechaMinimaString"
                    [max]="fechaMaximaString"
                    class="form-control input"
                    [class.is-invalid]=""
                    formControlName="fecha"
                    required>
                            
                    <button class="btn btn-primary">Agendar</button>
                    <button class="btn btn-secondary boton2" routerLink="/pacientes">Cancelar</button>
                </div>

            </form>
                
        </div>
    </div>
</div>

