.container{
    padding: 1rem;
}
.titulo1{
    text-align: center;
}
h1{
    margin-left: 1.5rem;
}
hr{
    color: #005e98;

}
h4{
    padding-top: 1rem;
    margin-left: 3rem;
}
h4 small{
    font-weight: 200;
    margin-left: 8px;
}
p{
    font-size: 15px;
    margin-left: 3rem;
}
p span{
    font-weight: bold;
}
.cambiar{
    color:#0077c0;
    position: absolute;

}
.info{
    color: grey;
}
form{
    position: relative;
    
}

.inputFecha label{
    margin-top: 30px;
    padding: 1rem;

}
.inputFecha input{
    margin-top: 10px;
    margin-left: 10px;
    width: 220px;
    font-size: 13px;
    
}

button{
    position: absolute;
    top: 72%;
    left: 290px;
    z-index: 1;


}

.boton2{
    margin-left: 100px;
}

.atras{
    display: none;
    color: #0077c0;
    font-size: 25px;
    margin-top: 2rem;
    margin-left: 9rem;
    z-index: 1;
    cursor: pointer;
    transition: all 300ms;
    
}
.atras:hover{
    transform: scale(1.2);
}

.log-out{

    font-size: 13px;
    position: absolute;
    top:30px;
    right: -80%;
    cursor: pointer;
    transition: all 250ms;
    color: rgb(0, 0, 0);
    font-weight: 300;
    z-index: 1;
    transition: all .5s;
    z-index: 1;

  }
  .log-out:hover{
    color: rgb(71, 70, 70);
    
  } 
