<nav *ngIf="isLoggedIn" class="nav navbar navbar-expand-sm navbar-light barra">
  <div class="container-fluid d-flex justify-content-between align-items-center">

    <div class='userLogin d-flex'>
      <ul class="navbar-nav d-flex align-items-center">
        <li class="nav-item" routerLinkActive="active-link">
          <a class="nav-link" aria-current="page" routerLink="/home">Home</a>
        </li>
        <li *ngIf="userRol === 'paciente'" class="nav-item" routerLinkActive="active-link">
          <a class="nav-link medicos" routerLink="/medicos-datos" routerLinkActive="active-link">Médicos</a>
        </li>
        <li *ngIf="userRol === 'paciente'" class="nav-item dropdown" [routerLinkActive]="['active-link']" [ngClass]="{'dropdown-active': isHistorialMedicoActive()}">
          <a class="nav-link dropdown-toggle" role="button" id="menuDropdown" data-bs-toggle="dropdown" aria-expanded="true">
            Historial
          </a>
          <ul class="dropdown-menu animate__animated animate__fadeIn" aria-labelledby="menuDropdown">
            <li routerLinkActive="active-link"><a class="dropdown-item" routerLink="/paciente-citas">Turnos Agendados</a></li>
            <li routerLinkActive="active-link"><a class="dropdown-item" routerLink="/mis-diagnosticos">Diagnósticos</a></li>
          </ul>
        </li>
        <li *ngIf="userRol === 'medico'" class="nav-item dropdown" routerLinkActive="active-link">
          <a class="nav-link dropdown-toggle" role="button" id="navbarDropdown" data-bs-toggle="dropdown" aria-expanded="true">
            Pacientes
          </a>
          <ul class="dropdown-menu m-2 animate__animated animate__fadeIn" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" routerLink="/pacientes">Mostrar Todos</a></li>
            <li><a class="dropdown-item" routerLink="/pacientes/nuevo">Agregar Paciente</a></li>
          </ul>
        </li>
      </ul>
    </div>

    <div class="navbar-nav2 d-flex align-items-center">
      <li *ngIf="userRol === 'administrador'" class="nav-item">
        <div class="btn-group dropdown">
          <button class="btn2 btn btn-outline-success dropdown-toggle btn-registrarse" (click)="toggleDropdown()" data-bs-toggle="dropdown" id="dropdownMenuButton1" aria-expanded="false">
            Registrar
          </button>
          <div class="dropdown-menu mt-2 custom-dropdown-menu" aria-labelledby="dropdownMenuButton1">
            <a class="dropdown-item" [routerLink]="['/registro']" [queryParams]="{ rol: 'medico' }">Médico</a>
            <a class="dropdown-item" [routerLink]="['/registro']" [queryParams]="{ rol: 'paciente' }">Paciente</a>
          </div>
        </div>
      </li>
      <li class="nav-item2" [matTooltip]="nombresUsuario | titlecase " matTooltipPosition="before">
        <button mat-icon-button [matMenuTriggerFor]="menu">
          <mat-icon><i class="iconoUser fa-regular fa-circle-user"></i></mat-icon>
        </button>
        <mat-menu #menu="matMenu" class="barMenu">
          <button mat-menu-item routerLink="datos-usuario"><i class="bi bi-person-vcard-fill"></i> Mi Perfil </button>
          <button mat-menu-item (click)="cerrarSesion()"><i class="icono-configurar bi bi-door-open"></i> Cerrar Sesión </button>
        </mat-menu>
      </li>
    </div>

  </div>
</nav>
