
.userLogin{
  width: 100%;
  display: flex;
  justify-content: start;

}
.navbar-nav{
  width: 100%;
  display: flex;
  justify-content: start;
  align-items: center;
  list-style: none;
  padding: 1px;
  margin-left: 1.5rem;
  transition: all 0.3s;
}

.navbar-nav .medicos{
  width: 100px;
  text-align: center;

}

    .nav-link{

        font-size: 18px;
        color: rgb(152, 151, 151);
        font-weight: 300;
        text-align: center;
        padding: 5px;
        margin: 0px;
        transition: all 0.3s;


    }
    .nav-link:hover {
      color: #ffffff;
      
     
    }
    .active-link .nav-link {
      border-bottom: none;
      color: rgb(255, 255, 255);
      
    }
    
    .nav-item{
      color: white;
      margin-right: 10px;
      margin-left: 10px;
      margin-top: 10px;
      margin-bottom: 10px;
      padding: 1px;
      transition: all 0.3s;
    }




    .nombreUsuario{
        font-size: 11px;
        position: absolute;
        top:12px;
        color: #336070;

    }

    .barra{
      background-color: #153e73;
      margin-bottom: -2rem;
    }

    
    /* estilos del menu de pacientes*/

    .nav-item.dropdown > .nav-link {
      color: #ffffff; 

    }
    

    .nav-item.dropdown.show > .nav-link,
    .nav-item.dropdown > .nav-link:hover {
      color: #eaeaea; 
    }
    

    .nav-item.dropdown > .nav-link:not(:hover) {
      color: #b2b2b2; 
    }

    .dropdown-item{
      color: rgb(118, 117, 117);
      font-size: 18px;
      padding-top: 15px;
      padding-right: 35px;
      transition: all 0.3s;
    }


    .dropdown-menu{
      background-color: rgb(224, 224, 224);
      padding-top: 0px;
      padding-right: 20px;
      width: 200px;
    }

    .animate__animated.animate__fadeIn {
      animation-duration: 200ms;
    }

    .dropdown-menu .dropdown-item {
      color: #1f5d94; 
      font-weight: normal; 
      transition: all 100ms;
      width: 100%;
    }


    .dropdown-menu .dropdown-item:hover {
      color: #2841d0;  
      background-color: transparent;

    }


    .dropdown-menu .dropdown-item a {
      text-decoration: none;
      display: block;
      padding: 10px 15px;
    }


    .dropdown-menu .dropdown-item a:hover {
      text-decoration: none;
      font-weight: bold;
    }


/* estilos del menu REGISTRAR*/
.btn-registrarse {
  display: none;
  color: #b2b1b1;
  border-color: #edefee;
  transition: all 300ms ease-in-out;
}

.btn-registrarse:hover,
.btn-registrarse:focus {
  background-color: transparent;
  color: #e8e9ea;
  border-color: #e2e3e4;
}

/* Estilo para el menú desplegable de "Registrar" */
.dropdown-menu.custom-dropdown-menu {
  background-color: #ffffff; /* Asegura que el fondo sea blanco */
  color: #333333; /* Asegura que el color del texto sea visible */
  border: 1px solid #cccccc; /* Agrega un borde para definir mejor el menú */
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); /* Añade una sombra para que destaque */
}

.dropdown-menu.custom-dropdown-menu .dropdown-item {
  color: #333333; /* Asegura que el texto sea oscuro para buena visibilidad */
  font-size: 14px; /* Ajusta el tamaño de la fuente */
  padding: 10px 15px; /* Añade un padding cómodo para los elementos */
  transition: background-color 0.3s, color 0.3s; /* Añade una transición suave */
}

.dropdown-menu.custom-dropdown-menu .dropdown-item:hover {
  background-color: #f1f1f1; /* Cambia el fondo en hover para indicar la selección */
  color: #000000; /* Asegura que el texto sea completamente visible en hover */
}


    
/* stilos del menu de usuario*/


.iconoUser{
  font-size: 28px;
  color: #d2d7d9;
  position: absolute;
  top: 9px;
  left: 13px;
}

.nombreUser{
 cursor:arrow ;
 color: rgb(71, 71, 71);
 font-size: 12px;
 font-weight: 500;
}


/* stilos del menu desplegable*/

.barMenu{
  background-color: #244065;
  margin-bottom: -2rem;
  min-width: 100%;

}
.navbar-nav2{
  display: flex;
  justify-content: end;
  align-items: center;
  list-style: none;
  padding: 1px;
  margin: 5px;
  margin-right: 3rem;
  transition: all 0.3s;
}
.nav-item2{
  padding: 3px;
  border-radius: 15px;
}

.mat-menu-item .icono-configurar {
  margin-left: auto;
  font-size: 1.5em;  
  margin-right: 5px;
}


.mat-menu-item i {
  margin-right: 10px;
  font-size: 1.6em;  

}
.mat-menu-item:hover, .mat-menu-item:focus {
  text-decoration: underline;
}
/* estilos del menu de usuario*/    

    @media screen and (max-width: 611px){

      .navbar-nav {
        flex-direction: row; 
        justify-content: center;
        margin-left: 0;
      }
      
      .nav-link {
       
        font-size: 14px; 
        margin: 2px 5px; 
      }
    
      .navbar-nav2 {
        flex-direction: row;
        justify-content: flex-end;
        margin-right: 10px; 
      }
    
      .iconoUser {
        font-size: 24px; 
      }
    
      .nombreUser {
        font-size: 10px; 
      }
    
      .nav-item {
        margin: 5px;
      }
    }


@media (max-width: 575px) {
  .navbar-nav .dropdown-menu {
    position: relative;
    float: none;
    width: 100%;
    margin-top: 0;
  }

  .navbar-nav .dropdown-menu.show {
    display: block;
    position: fixed;
    top: 56px; 
    left: 130px;
    right: 0;
    background-color: #ffffffb4;
    z-index: 1000;
    max-width: 30%;
    padding: 5px;
    

  }

  .navbar-nav .dropdown-item {
    font-size: 12px; 
    padding: 5px 7px;
  }

  .navbar-nav .dropdown-item a {
    white-space: nowrap; 
    overflow: hidden; 
    text-overflow: ellipsis; 
  }

  .navbar-toggler {
    border: none;
  }

  .navbar-toggler-icon {
    background-color: #007bff;
  }
}


/* Estilos específicos para pantallas de hasta 480px */
@media (max-width: 480px) {
  .nav {
      overflow: hidden; /* Evita que el navbar se desborde */
      padding: 0 10px; /* Ajusta el padding para dar más espacio */
  }

  .navbar {
    position: relative; 
    display: flex;
    justify-content: space-between; /* Asegura que los elementos se distribuyan entre los extremos */
    align-items: center; /* Alinea verticalmente los elementos al centro */
    padding: 0.3rem 0.5rem; /* Ajusta el padding del navbar */
    height: 75px;
}

.navbar-nav {
  flex-direction: row; /* Asegura que los elementos estén en fila */
  align-items: center; /* Alinea los elementos verticalmente */
  margin-left: -15px;
  width: auto; /* Asegura que los elementos no se desborden */
}

.nav-item {
  margin: 0 5px; /* Ajusta el margen entre los botones */
}

.nav-link {
  font-size: 15px; /* Ajusta el tamaño de la fuente */
  padding: 4px 3px; /* Reduce el padding de los enlaces */
}

.navbar-nav2 {
  position: absolute;
  top: 44%; /* Coloca el icono en el centro vertical del navbar */
  right: 10px; /* Alínea el icono al extremo derecho */
  transform: translateY(-50%); /* Ajusta para centrar verticalmente */
}

.btn-registrarse {
  padding: 4px 8px; /* Reduce el padding del botón */
  font-size: 12px; /* Ajusta el tamaño de la fuente */
}

.iconoUser {
  padding: 4px; /* Ajusta el padding del icono de usuario */
  font-size: 20px; /* Ajusta el tamaño del icono */
}

  .dropdown-menu {
      width: auto; /* Asegura que el menú desplegable se ajuste al contenido */
      max-width: 100%; /* Evita que el menú desplegable se desborde */
      padding: 5px;
  }

  .mat-menu-item i {
      font-size: 1.4em; /* Ajusta el tamaño del icono en el menú */
  }

  .mat-menu-item {
      font-size: 4px; /* Ajusta el tamaño de la fuente en el menú */
      padding: 5px 10px;
  }

  .navbar-nav .dropdown-menu.m-2 {
    width: 150px; /* Permite que el menú se ajuste al contenido */
    min-width: fit-content; /* Asegura que el menú no sea demasiado estrecho */
    max-width: 80%; /* Evita que se desborde */
  }

  .navbar-nav .dropdown-item {
    font-size: 16px; /* Incrementa el tamaño de la fuente */
    padding: 10px 15px; /* Ajusta el padding para mayor comodidad */
    background-color: rgb(228, 228, 228); /* Asegura el fondo gris claro */
  }

  .navbar-nav .dropdown-item a {
    white-space: nowrap; 
    overflow: hidden; 
    text-overflow: ellipsis;
  }

  .btn-registrarse {
    display: none;
  }


}



    
        
    
    