<div class="container-fluid">


  <section class="hero align-items-stretch">
    <div class="hero-container"> <!-- Nuevo contenedor específico para la sección hero -->
      <div class="hero-principal d-flex flex-row justify-content-between align-items-center">
          <div class="hero-texto">
              <h1>Bienvenido a Nuestra Plataforma de Gestión Médica</h1>
              <p>Facilitamos el registro de pacientes, citas y diagnósticos en línea.</p>
              <div class="text-left">
                <button [routerLink]="['/login']" class="btn1 btn btn-outline-primary btn-iniciar-sesion">Iniciar Sesión</button>
              </div>
          </div>
          <div class="graficos">
              <img src="/assets/imagen titulo hero.png" alt="Grafico 1" class="grafico">
              <img src="/assets/imagen heroe 2.png" alt="Grafico 2" class="grafico2">
            </div>
      </div>
    </div>
  </section>



  <div class="experiencia seccion-clara">
      <div class="titulo-ofrecemos">
        <h2>Servicios</h2>
      </div>
              <div class="row" >

                  <div class="columna columna-imagen1 columna-imagen-mover col-6">
                    <div id="text-content" class="sub-columna">
                      <img src="assets/icono registro.png" alt="Icono Registro" class="icono-registro">
                      <h3 class="experiencia-titulo" >Registro de Pacientes</h3>
                    </div>
                    <div class="parrafo">
                      <p>Registro centralizado y accesible de información de pacientes.</p>
                    </div>
                  </div>
               

                  <div class="columna columna-imagen2 columna-imagen-mover col-6">
                    <div id="text-content" class="sub-columna">
                      <img src="assets/gestion de citas icono.png" alt="Icono Gestión de Citas" class="icono-gestion-citas">

                      <h3 class="experiencia-titulo" >Gestión de Citas</h3>
                    </div>
                    <div class="parrafo">
                      <p>Programación y gestión eficiente de citas médicas.</p>
                    </div>
                  </div>

                  <div class="columna columna-imagen3 columna col-6">
                    <div id="text-content" class="sub-columna">
                      <img src="assets/diagnostico medico icono.png" alt="Icono Diagnóstico en Línea" class="icono-diagnostico">
                      <h3 class="experiencia-titulo" >Diagnóstico en Línea</h3>
                    </div>
                    <div class="parrafo">
                      <p>Recepción de diagnósticos de manera rápida y segura.</p>
                    </div>
                  </div>

                  <div class="columna columna-imagen4 col-6">
                    <div id="text-content" class="sub-columna">
                      <img src="assets/seguridad datos icono.png" alt="Icono Seguridad y Privacidad" class="icono-seguridad">
                      <h3 class="experiencia-titulo" >Seguridad y Privacidad</h3>
                    </div>
                    <div class="parrafo">
                      <p>Protección robusta de toda la información médica y personal.</p>
                    </div>
                  </div>

              </div>
  </div>

    <!-- TARJETA CON IMAGEN LOGO -->
    <section class="seccion-clara tarjeta-logo">
      <div class="container text-center">
        <div class="row justify-content-center">
          <div class="col-12 col-md-8">
            <div class="tarjeta-imagen-logo">
              <img src="/assets/imagen logo para inicio.png" alt="Logo" class="img-fluid logo-img">
            </div>
          </div>
        </div>
      </div>
    </section>
    
  <div class="beneficios">
    <div class="contenedor-text">
        <h2 class="titulo-beneficios">Beneficios</h2>
        <div class="row d-flex align-items-center">
            <div class="col-12 col-md-6 d-flex align-items-center tarjeta-beneficios">
                <img src="/assets/beneficio medico.png" alt="Beneficio Médico" class="beneficio-imagen medico">
                <div class="beneficio-texto medico">
                    <h3>Médicos</h3>
                    <ul class="medico">
                        <li>Registro y seguimiento de pacientes eficiente.</li>
                        <li>Gestión fácil de citas.</li>
                        <li>Acceso rápido a historiales médicos.</li>
                    </ul>
                </div>
            </div>

            <div class="col-12 col-md-6 d-flex align-items-center tarjeta-beneficios">
                <div class="beneficio-texto paciente">
                    <h3>Pacientes</h3>
                    <ul class="pacientes">
                        <li>Obtención rápida de citas.</li>
                        <li>Diagnósticos en línea.</li>
                        <li>Seguimiento organizado de tratamientos.</li>
                    </ul>
                </div>
                <img src="/assets/beneficios cliente.png" alt="Beneficio Pacientes" class="beneficio-imagen paciente">
            </div>
        </div>
    </div>
</div>




  <!-- FOOTER-->

  <footer class="footer">
    <div class="containe-fluid">
      <div class="row">
        
        <div class="grupo1 col-12 col-md-6 col-lg-6">
            <h5>Enlaces</h5>
            <ul class="list-unstyled">
                <li><a href="#">Inicio</a></li>
                <li><a href="#">Características</a></li>
                <li><a href="#">Beneficios</a></li>
                <li><a href="#">Sobre la App</a></li>
                <li><a href="#">Contacto</a></li>
            </ul>
        </div>
        
        <div class="grupo2 col-12 col-md-6 col-lg-6">
            <h5 class="h5">Contacto</h5>
            <ul class="list-unstyled1">
                <li>Email: www.medic-app.com</li>
                <li>Teléfono: +593 999001087</li>
                <li>Dirección: Calle, Portoviejo, Ecuador</li>
            </ul>
        </div>
      
      </div>
      
      <div class="row2">
        <div class="rights col-12 text-center">
          <p>&copy; 2024 Medic-app. Todos los derechos reservados.</p>
        </div>
      </div>
    </div>
  </footer>
</div>
