
/* Login de pagina */
.container{
  background-color: #d9d9d9;
}
.contenedorLogin{
    margin-right: 2rem;
    padding-top: 25px;
    justify-content: end;
    align-items: center;
    background-color: #d9d9d9;

}

/*enlace medicos dropdown*/
.contenedorLogin {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.btn-medicos {
  margin-left: 50px; 
  font-size: 16px;
  font-weight: 300;
}

.dropdown-menu {
  animation-duration: 0.5s;
  margin-top: 5rem;
}


.dropdown-toggle::after {
  margin-left: 0.255em;
  
}

.btn-group .btn {
  margin-right: 10px;
}

.btn3.dropdown-toggle[aria-expanded="true"],
.btn3.dropdown-toggle:hover,
.btn3.dropdown-toggle:focus {
  background-color: transparent !important; 

  color: #698dd1;
}
/*dropdown menu registrarse*/


.dropdown-menu {
  margin-top: 3rem;
  padding: 1rem;

  background-color: rgba(245, 247, 250, 0.7); 
  border-radius: 10px; 
  backdrop-filter: blur(13px); 

}

.dropdown-menu a.dropdown-item {
  font-size: 15px;
  text-align: left;
  color: rgb(57, 85, 122); 
  display: block; 
  transition:all 400ms; 
}

.dropdown-menu a.dropdown-item:hover {
  background-color:transparent;
  text-decoration: underline;
  margin-left: 3px;
}
.btn1{
  background-color: white;
  transition: all 400ms ease-in-out;
}
.btn1:hover{
  background: rgb(77, 106, 195);
  color: rgb(219, 225, 234);
}

.btn2,
.btn3{
    border: none;

}
.btn2:hover{
  background-color: transparent;
  color: rgb(57, 85, 122);
}

.custom-dropdown-menu {
  margin-top: 0px;
}

.btn2.dropdown-toggle::after {
  margin-left: 0.255em;
}

.btn2.dropdown-toggle[aria-expanded="true"],
.btn2.dropdown-toggle:hover,
.btn2.dropdown-toggle:focus {
  background-color: transparent !important; 
  border-color: #28a745; 
  color: #28a745;
}

.btn2.dropdown-toggle:hover {
  background-color: #e9ecef; 

}
.btn-iniciar-sesion {
  margin-right: 35px; 
}
  
/*Hero*/

  section{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  h1{
    font-size: 4.5rem;
    font-weight: 500;
    font-family: 'Rubik Dirt';
    color: #1e3162;
    }
  
  .hero{
    background-color: #d9d9d9;
    min-height: 450px;
    text-align: center;
  
  }
  .hero-principal{
    padding: 3rem;
  
  }
  .hero-principal h2{
    font-size: 1rem;
    color: #4e5a73;
  
  }q
  .sobre-app{
    height: 300px;
    padding: 200px;

  }
  .sobre-app .contenedor{
    max-width: 600px;
    text-align: center;


  }
  .seccion-titulo{
    font-size: 2rem;
    padding: 15px 0px;
    font-weight: 600;
    color: #232836;
    text-align: center;
  }
  .seccion-texto{
    font-size: 1rem;
    padding-top: 15px;
    padding-bottom: 15px;

    font-weight: 400;
    color: #ededed;
    text-align: center;
  }

  .seccion{
    color: white;
    background-color: #5084a5bf;
  }
  
  .seccion-clara{
    color: rgb(239, 238, 238);
    background-color: white;
  }


  .experiencia{
    padding: 40px 40px 20px 40px;
    background-color: #d9d9d9;
    align-items: center;
  }
  .experiencia .row{
    transition: all .3s ease;
  }
  .experiencia .row .columna{
    height: 300px;
    transition: all .3s ease-in-out;
    cursor: pointer;
  
  }
  .experiencia .row .columna:hover{

    transform: scale(1.1);

  }

  .experiencia i{
    color: rgb(22, 28, 71);
    font-size: 2.5rem;
    border-radius: 50%;
  }
  .experiencia-titulo{
    font-size: 25px;
    font-weight: bold;
    margin: 10px 0;
    color: rgb(30, 39, 89);
  }
  .experiencia p{
    padding: 5px;
    color: rgb(23, 37, 86);
  }


  /*wave*/
  .wave-separator {
    position: relative;
    width: 100%;
    height: 100px; /* Ajusta la altura según sea necesario */
    overflow: hidden;
}

.wave-separator svg {
    position: absolute;
    top: -70px; /* Ajusta la posición vertical según sea necesario */
    width: 100%;
    height: auto;
}



  /*sobre app*/
  .sobre-app{
    background-color: #d9d9d9;
    min-height: 450px;
    text-align: center;
    padding: 3rem;
    margin-bottom: 50px;
  
  }
  .sobre-app .contenedor{
    max-width: 600px;
    text-align: center;
    margin-top: 50px; 


  }
  .sobre-app .seccion-titulo{
    font-size: 2rem;
    margin-top: 30px; 
    padding: 15px 0px;
    font-weight: 600;
    color: #232836;
    text-align: center;
  }

  .sobre-app .seccion-texto {
      margin-top: 20px; 
      color: #1e3162;
  }
  /* funcion scroll animation */

  .reveal {
    opacity: 1;
    transform: translateY(0);
    transition: opacity 0.6s ease-out, transform 0.6s ease-out;
  }
  
  .hidden {
    opacity: 0;
    transform: translateY(20px);
  }
  @media screen and (min-width: 700px){
  
  }
