<div class="contenedorLogin container-fluid d-flex justify-content-between">
    <div class="d-flex align-items-center">

        <!-- boton médicos dropdown -->

        <div class="btn-group dropdown">
            <button class="btn3 btn btn-outline-primary dropdown-toggle btn-medicos" (click)="toggleDropdown()" data-bs-toggle="dropdown" id="medicosDropdownButton" aria-expanded="false">
                Médicos
            </button>
            <div class="dropdown-menu mt-2 custom-dropdown-menu" aria-labelledby="medicosDropdownButton">
                <a class="dropdown-item" [routerLink]="['/medicos-datos']">Lista de Médicos</a>
                <a class="dropdown-item" [routerLink]="['/medicos-especialidad']">Médicos por Especialidad</a>
            </div>
        </div>
    </div>
    <router-outlet/>

    <div class="d-flex align-items-center">

        <!-- boton registrarse dropdown -->


        <!-- boton iniciar sesion -->
            <button [routerLink]="['/login']" class="btn1 btn btn-outline-primary btn-iniciar-sesion">Iniciar Sesión</button>
    </div>
</div>


<section class="hero align-items-stretch ">
    <div class="hero-principal d-flex flex-column justify-content-start align-item-center">
        <h1 class="poppins-medium rubik-dirt-regular animate__animated animate__fadeIn">Medic-App</h1>
        <h2 class="animate__animated animate__fadeIn">Tu cita y diagnóstico en un toque</h2>

    </div>
  </section>
  


  <!-- Wave SVG -->


  <section class="sobre-app seccion">
    <div class="contenedor hidden" appScrollReveal>
        <h2 class="seccion-titulo hidden" appScrollReveal>¿Qué es Medic-App?</h2>
        <p class="seccion-texto hidden" appScrollReveal>
            Medic-App es una solución tecnológica diseñada para revolucionar la experiencia de atención médica con un enfoque en la eficiencia y accesibilidad, 
            esta aplicación permite a los pacientes agendar citas médicas con facilidad y recibir diagnóstico rápidos. la integración de funciones intuitivas y
             una interfaz amigable hace que Medic-App sea una herramienta indispensable para que la gestión de la salud personal.
          </p>
    </div>
  </section>




