


/* Login de pagina */

.contenedorLogin{
    margin-right: 2rem;
    padding-top: 45px;
    justify-content: end;
    align-items: center;
    background-color: #ffffff;

}

/* Logo pagina */

.logo-pagina{
  width: 280px;
  margin-left: 80px;
}

/*boton login*/

.btn-iniciar-sesion {
  background: linear-gradient(90deg, rgb(223, 223, 226) 5%, rgb(207, 220, 223) 100%);
  color: #2d2c2c;
  border: 1px solid grey;
  padding: 10px 20px;
  font-size: 1rem;
  border-radius: 5px;
  transition: 0.3s ease-in-out, transform 0.2s ease-in-out;
}

.btn-iniciar-sesion:hover {
  color: rgb(0, 0, 0);
  transform: scale(1.05);
}

.d-flex {
  display: flex;
  align-items: center;
}

.btn1 {
  margin: 10px 45px;
}

/*heroe*/

  section{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 50px 50px 20px 40px;
  }

  
  
  .hero{
    min-height: 450px;
    text-align: center;
    background-color: #fffefe;
    position: relative;
  }

  .hero-principal{
    width: 100%;
    height: 650px;
    padding: 3rem;
    margin-left: 20px;
    text-align: left;
    border-radius: 0px 45px;
    z-index: 2;
    overflow: hidden;
  }

   .hero-principal h1{
    
    margin-left: 29px;
    padding: 30px 0px;
    font-size: 6.5rem;
    font-weight: 500;
    margin-right: 16%;
    font-family: 'Rubik Dirt';
    color: #2b395c;
    background: linear-gradient(90deg, rgb(63, 63, 123) 5%, rgb(66, 205, 230) 100%);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    -webkit-text-stroke: .2px rgb(89, 94, 165);
  }
  

  .hero-principal p {
    margin-right: 50%;
    text-align: left;
    margin-left: 35px;
    font-size: 1.3rem;
    color: #2b395c;
    background: linear-gradient(90deg, rgb(63, 63, 123) 5%, rgb(40, 46, 47) 100%);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
  }

  .hero-principal .grafico1{

    position: absolute;
    top: 31%;
    left:70%;
    z-index: -1;
    right: 5%;
    background-image: transparent;
  }
  .grafico1 img{
    width: 380px;
    border-radius: 50%;

  }
  
  .sobre-app{
    height: 300px;
    padding: 200px;

  }
  .sobre-app .contenedor{
    max-width: 600px;
    text-align: center;



  }
  .seccion-titulo{
    font-size: 2rem;
    padding: 15px 0px;
    font-weight: 600;
    color: #c9cbd0;
    text-align: center;
  }
  .seccion-texto{
    font-size: 1rem;
    padding-top: 15px;
    padding-bottom: 15px;

    font-weight: 400;
    color: #ededed;
    text-align: center;
  }

  .seccion{
    color: white;
    background-color: #5084a5bf;
  }
  
  .seccion-clara{

    background-color: rgb(255, 255, 255);
  }


  /*sobre app*/

  .sobre-app{
    background-color: #d9d9d9;
    min-height: 450px;
    text-align: center;
    padding: 3rem;
    margin-bottom: 50px;
  
  }
  .sobre-app .contenedor{
    max-width: 600px;
    text-align: center;
    margin-top: 50px; 


  }
  .sobre-app .seccion-titulo{
    font-size: 2rem;
    margin-top: 30px; 
    padding: 15px 0px;
    font-weight: 600;
    color: #232836;
    text-align: center;
  }

  .sobre-app .seccion-texto {
      margin-top: 20px; 
      color: #1e3162;
  }
  /* funcion scroll animation */

  .reveal {
    opacity: 1;
    transform: translateY(0);
    transition: opacity 0.6s ease-out, transform 0.6s ease-out;
  }
  
  .hidden {
    opacity: 0;
    transform: translateY(20px);
  }
  

  /*PAGINA INFORMATIVA CARACTERISTICAS DE LA APP*/  /*PAGINA INFORMATIVA CARACTERISTICAS DE LA APP*/

  .seccion{
    color: white;
    background-color: #ffffff;
  }
  
  .experiencia{
    padding: 50px 40px 10px 50px;
    background-color: #ffffff;
    text-align: center;
    flex-wrap: wrap;

  }

  .experiencia .contenedor-text{
    margin-top: -20px;
    padding-top: 5%;
    border-radius: 15px;
    margin-right: -10px;
    margin-left: -10px;

    border-radius: 45px 0px;


    /*background: linear-gradient(0deg, rgb(156, 204, 223) 18%, rgb(180, 218, 231) 79%);*/
  }
  .contenedor-text img{
    
    width: 270px;
    display: none;
    align-items: flex-start;
    margin-left: 50px;
  }

  .experiencia h1{
    margin-top: 50px;
    font-size: 4rem;
    font-weight: 200;
    font-family: 'Rubik Dirt';
    background-color: #414548;
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    flex-wrap: wrap;
  }
 

  .experiencia .text-center{
    display: flex;
    justify-content: center;
    margin: 30px;
    margin-bottom: 40px;
    border-radius: 15px;
    background-color: rgba(93, 93, 93, 0.26);

  }

  .experiencia .row{
    margin-top: 50px;
    margin-bottom: 55px;
    width: 100%;
    min-height: 400px auto;
    padding-top: 10px;
    transition: all .3s ease;
    border-radius: 15px;

  }

  .experiencia .row .columna{
    height: 220px;
    cursor: pointer;
    padding-top: 49px;

  }
 
  
  .experiencia .row .columna .sub-columna:hover{
    transform: scale(1.1);
  }
 
  .experiencia-titulo{
    font-size: 1.4rem;
    font-weight: bold;
    margin: 10px 0;
  }

  .columna i{
    color: #d8dadc;
    background-clip: text;
    font-size: 2.6rem;
    border-radius: 50%;
  }

  .columna {
    padding: 20px;
    border-radius: 8px;
    transition: background-color 0.3s;
  }

  .experiencia p{
    
    color: #3b3c3c;
  }
  .columna h3{
    color: #d8dadc;
  }
  .columna p {
    display: none;
    padding: 5px;
    text-align: center;
    padding: 5px;
    transition: opacity 0.3s ease-in-out;
  }

  .columna:hover p {
    font-size: 1.3rem;
    display: block;
    opacity: 1;

  }

  .columna:hover i {
    display: none;
  }

  .columna:hover h3 {
    display: block;
    opacity: 1;
    color: #d8dadc;
  }

  .columna:hover {
    cursor: pointer;
  }

/*SECCION BENEFICIOS*//*SECCION BENEFICIOS*//*SECCION BENEFICIOS*//*SECCION BENEFICIOS*/

.beneficios{
  margin-top: 0px;
  margin-left: -10px;
  margin-right: 38px;
  padding: 40px 10px 20px 50px;
  background-color: #ffffff;
  align-items: center;
}
.beneficios .contenedor-text{
  padding: 5px;
  margin-right: -18px;
  border-radius:0px 45px;
}
.beneficios h1{
  padding-top: 100px;
  font-family: 'Rubik Dirt';
  font-size: 4rem;
  text-align: center;
  color: rgb(43, 42, 42);
  background-clip: text;
}

.beneficios .text-center{
  margin-top: 90px;
  margin-top: 25px;
  padding: 10px 10px 10px 10px;
  border-radius: 15px;
  display: flex;
  justify-content: center;
  background-color: rgba(93, 93, 93, 0.26);


}

.beneficios .row{
  padding: 25px 25px 25px 25px;
  height: auto;
  width: 55%;
  border-radius: 10px;

}
.beneficios .row .columna{
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 380px;
  margin-bottom: 25px;
  cursor: default;
  border-radius: 15px;
  padding-left: 6px;
  border: 1px solid grey;
background-color: white;
}
.beneficios .row .columna h3{
  font-size: 2rem; 
  margin-bottom: 23px;
  font-weight: 500;
  color: black;
}

.beneficios .row .columna ul{
  display: flex;
  flex-direction: column;
  list-style: none;
  cursor: default;
 

}
.beneficios .row .columna ul li{
  margin: 5px;
  font-size: 1.3rem;
  text-align: center;
  margin-right: 20px;
}


/*FOOTER*//*FOOTER*//*FOOTER*//*FOOTER*//*FOOTER*/

.footer {
  margin-top: 100px;
  background: rgb(0, 0, 0);
color: white;
  padding-top: 40px
}
.footer .row {
 padding: 25px;
 display: flex;
 justify-content: center;


}
.footer .row2{
 padding: 25px;
 display: flex;
 justify-content: center;

}
.footer .row .grupo1{

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: left;

}
.footer .row .grupo2{
  display: flex;
  flex-direction: column;
  align-items:center ;
}

.footer .grupo1 h5 {
  font-size: 1.6rem;
  margin-bottom: 20px;
  text-align: left;
  
}
.footer .grupo2 li{
  margin: 5px;
  font-size: 1.1rem;
  text-align: center;
  margin-bottom: 15px;
}

.footer a {
  color: rgb(170, 170, 170);
  text-decoration: none;

  transition: all .2s ease-in;
}

.footer a:hover {
  text-shadow: 1px 1px 3px grey;
 
}

.footer .list-unstyled {
  width: 300px;
  text-align: center;
  list-style: none;
  
 
}
.footer .list-unstyled1{

  width: 350px;
  text-align: center;
  list-style: none;
 
}
.row .grupo2 .h5{
  margin-bottom: 35px;
}

.footer .list-unstyled li {
  margin-bottom: 10px;
  font-size: 1.1rem;
  transition: all .2s ease-in;
  
}

.footer .list-unstyled li:hover{
  transform: scale(1.1);
  text-shadow: 1px 1px 4px rgb(196, 196, 196);

}
.footer .list-unstyled li a:hover{

  text-shadow: 1px 1px 4px rgb(196, 196, 196);
  color: white;

}




  /*MEDIAS QUERY*//*MEDIAS QUERY*//*MEDIAS QUERY*//*MEDIAS QUERY*/

  @media (min-width: 1299px){

    section {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      padding: 50px 50px 20px 40px;
      background-color: #ffffff;
    }
    .hero {
      height: auto;
    }
    .hero-principal h1 {
      font-size: 5.9rem;
    }
    .hero-principal p {
      margin-right: 30%;
      text-align: left;
      margin-left: 34px;
      font-size: 1.5rem;
    }

    .columna {
      display: flex;
      justify-content: center;
      align-items: center;
      padding-bottom: 50px;
      transition: all .4s ease-in-out;
      position: relative;
      overflow: hidden;
    }
    .experiencia .row .columna .sub-columna1 {
      height: 130px;
      width: 330px;
      padding-top: 20px;
      transition: margin-right 1.5s;
      background-color: #1766b6;
      border-radius: 15px;
      z-index: 2;
    }
    .experiencia .row .columna .sub-columna2 {
      height: 130px;
      width: 330px;
      padding-top: 20px;
      transition: margin-left 1.5s;
      background-color: #269dc2;
      border-radius: 15px;
      z-index: 2;
    }
    .experiencia .contenedor-text img {
      width: 270px;
      display: none; 
      align-items: flex-start;
      margin-left: 50px;
      opacity: 0; 
      transition: opacity .4s; 
    }
    .columna:hover .contenedor-text img {
      display: block; 
      opacity: 1; 
    }
    .experiencia .row .columna:hover .sub-columna1 {
      margin-right: 53%;
      transition: margin-right .4s;
    }
    .experiencia .row .columna:hover .sub-columna2 {
      margin-left: 50%;
      transition: margin-left .4s;
    }
    .columna .parrafo-right .parrafo {
      display: none;
      position: absolute;
      font-size: 1.7rem;
      top: 36%;
      left: 47%;
      padding: 5px;
      text-align: center;
      opacity: 0;
      visibility: hidden;
      transition: opacity 2s, visibility 1.7s;
    }
    .columna .parrafo-left .parrafo {
      display: none;
      position: absolute;
      font-size: 1.7rem;
      top: 36%;
      right: 50%;
      padding: 5px;
      text-align: center;
      opacity: 0;
      visibility: hidden;
      transition: opacity 2s, visibility 1.7s;
    }
    .experiencia .columna h3 {
      color: white;
    }
    .experiencia .columna i {
      color: white;
    }
    .expericendia:hover h3 {
      color: white;
    }
    .columna:hover i {
      display: block;
      color: white;
    }
    .columna:hover {
      cursor: pointer;
    }
    .columna:hover .parrafo-right .parrafo {
      display: block;
      opacity: 1;
      visibility: visible;
      transition: opacity 1.5s;
    }
    .columna:hover .parrafo-left .parrafo {
      display: block;
      opacity: 1;
      visibility: visible;
      transition: opacity 1.5s;
    }
}


  @media (max-width: 1400px) {

    .columna {
      flex: 1 1 100%;
    }

    section h1{
      margin-left: 0px;
      font-size: 6.5rem;
      margin-right: 15%;
      background-color: green;
    }
    .hero-principal{
      height: 550px;
      padding: 3rem;
      text-align: left;
      border-radius: 0px 45px;
    }
    .hero-principal p {
      margin-right: 25%;
      font-size: 1.3rem;
    }
    .hero-principal h1 {
      font-size: 4rem;
    }
    .hero-principal .grafico1{
      display: none;
      position: absolute;
      top: 40%;
      left:70%;
      z-index: -1;
      right: 5%;
    }
    .grafico1 .grafico{
      width: 300px;
    }

    .experiencia .text-center{
      margin-left: 0%;
      margin-right: -15px;

    }
    .experiencia h3 {
      font-size: 1.6rem; 
      margin-bottom: 23px;
      color: #4b4747;
    }
    .experiencia i {
      font-size: 2.6rem; 
      margin-bottom: 23px;
      color: #4b4747;
    }
    .experiencia .row .columna{
      height: 200px;
      transition: all .3s ease-in-out;
      cursor: pointer;
    }
    .columna:hover h3{
      color: #4b4747;
    }
    .columna:hover p {
      display: block;
      opacity: 1;
      color: #4b4747;
      font-size: 1.1rem;
    }
  }

  @media (max-width: 1000px) {

    .columna {
      flex: 1 1 100%;
    }

    section h1{
      margin-left: 0px;
      font-size: 4.9rem;
      margin-right: 21%;
    }
    .hero-principal .grafico1{

     display: none;
    }

    
    .hero-principal{
      height: 550px;
      padding: 3rem;
      text-align: left;
      border-radius: 0px 45px;
    }
    .hero-principal p {
      margin-right: 17%;
      text-align: left;
      margin-left: 34px;
      font-size: 1.1rem;
    }

    .experiencia .text-center{
      margin-left: 0%;
      margin-right: -15px;

    }
    .experiencia h3 {
      font-size: 1.5rem; 
      margin-bottom: 23px;
    }
    .experiencia i {
      font-size: 2.7rem; 
      margin-bottom: 23px;
    }
    .experiencia .row .columna{
      height: 200px;
      transition: all .3s ease-in-out;
      cursor: pointer;
    }
    .columna:hover p {
      display: block;
      opacity: 1;
      color: #fcfcfc;
      font-size: 1rem;
    }
    .beneficio .row{
      width: 70%;
    }
    .beneficios .row .columna{
      margin-bottom: 25px;
      background-color: #69bee083;
      padding-left: 6px;

    }
    .beneficios .row .columna h3{
      font-size: 1.9rem; 
      margin-bottom: 23px;
      font-weight: 500;
    }
    
    .beneficios .row .columna ul{
      display: flex;
      flex-direction: column;
      list-style: none;
      cursor: default;
    
    }
    .beneficios .row .columna ul li{
      margin: 5px;
      font-size: 1.2rem;
      text-align: center;
      margin-right: 20px;
    }
    
  }

  @media (max-width: 999px) {
    .columna {
      flex: 1 1 80%;
    }

    section h1{
      margin-left: 0px;
      font-size: 4.5rem;
      margin-right: 15%;
    }
    .hero-principal{
      height: 590px;
      padding: 2rem;
      text-align: left;

      border-radius: 0px 45px;
    }
    .hero-principal p {
      margin-top: -14px;
      margin-right: 20%;
      text-align: left;
      margin-left: 34px;
      font-size: 1.0rem;
    }
    .contenedor-text{
      margin-top: 0px;
    }

    .experiencia .text-center{
      margin-left: 0%;
    }

    
    .experiencia h3 {
      font-size: 1.5rem; 
      margin-bottom: 23px;
    }

    .experiencia i {
      font-size: 2.6rem; 
      margin-bottom: 23px;
    }
    
    .experiencia .row .columna{
      height: 200px;
      transition: all .3s ease-in-out;
      cursor: pointer;
    }

    .columna:hover p {
      display: block;
      opacity: 1;
      color: #454343;
      font-size: 15px;
    }
    .beneficios .row .columna{
      margin-bottom: 25px;
      background-color: #3c52f53f;
      padding-left: 6px;

    }
    .beneficios .row .columna h3{
      font-size: 1.8rem; 
      margin-bottom: 23px;
      font-weight: 500;
    }
    
    .beneficios .row .columna ul{
      display: flex;
      flex-direction: column;
      list-style: none;
      cursor: default;
    
    }
    .beneficios .row .columna ul li{
      margin: 5px;
      font-size: 1rem;
      text-align: center;
      margin-right: 20px;
    }
  }

  @media (max-width: 768px) {
    .btn1{
      margin-right: 40px;
      margin-top: 15px;
      padding:5px 15px;
    }
    .columna {
      flex: 1 1 100%;
    }

    .hero-principal h1{
      margin-left: 0px;
      font-size: 3.2rem;
      margin-right: 0%;
    }
    .hero-principal p {
      margin-right: 20%;
      text-align: left;
      margin-left: 6%;
      font-size: .9rem;
    }
    .experiencia .text-center{

      margin: 0px 50px 15px 15px;
    }

    .experiencia h1{
      font-size: 3.4rem;
    }
    .experiencia h3 {
      font-size: 1.3rem; 
    }
    .experiencia .row .columna i {
      font-size: 2rem; 
    }
    .experiencia .row .columna{
      height: 150px;
      transition: all .3s ease-in-out;
      cursor: pointer;
    }
    .experiencia .text-center{
      margin-left: 0%;
      margin-right: 5px;
    }
    .columna:hover p {
      display: block;
      opacity: 1;
      color: #4b4747;
      font-size: 14px;
    }

    .beneficios h1{
      font-size: 3.2rem;
    }

    .beneficios .row{
      padding: 25px 25px 25px 25px;
      height: auto;
      width: 85%;
      border-radius: 10px;

    
    }
    .beneficios .row .columna{
      margin-bottom: 25px;
      background-color: #f7f7f7;
      padding-left: 6px;

    }

    .beneficios .row .columna h3{
      font-size: 1.8rem; 
      margin-bottom: 23px;
      font-weight: 500;
      color: black;
    }
    
    .beneficios .row .columna ul{
      display: flex;
      flex-direction: column;
      list-style: none;
      cursor: default;
    
    }
    .beneficios .row .columna ul li{
      margin: 5px;
      font-size: 1rem;
      text-align: center;
      margin-right: 20px;
    }
    
    .footer {
      text-align: center;
    }
  
    .footer .col-12 {
      margin-bottom: 20px;
    }
    
    
  }
  @media (max-width: 767px){


    .logo-pagina{
      width: 110px;
      margin-left: 40px;
    
    }
    .btn1{
      font-size: .9rem;
      margin-right: 40px;
      margin-top: 15px;
      padding:5px 15px;
    }
    .columna {
      flex: 1 1 100%;
    }
    .hero-principal h1{
      margin-left: 0px;
      font-size: 2.2rem;
      margin-right: 0%;
    }
    .hero{
      height: 400px;
      padding: 2rem;
      text-align: left;
      border-radius: 0px 45px;

    }
    .hero-principal{
      border: none;
      margin-left: 0px;

    }
    .hero-principal p {
      margin-right: 20%;
      text-align: left;
      margin-left: 0%;
      font-size: .4rem;
    }
    .hero-principal .grafico1{
      display: block;
      position: absolute;
      top: 60%;
      left:33%;
      z-index: -1;
      right: 5%;
    }
    .grafico1 .grafico{
      width: 190px;
    }
    .experiencia .text-center{

      margin: -40px 50px 15px 15px;
    }

    .seccion-clara h1{
      font-size: 1.7rem;
    }
    .text-center .columna h3 {
      font-size: 1.3rem; 
    }
    .text-center .columna i {
      font-size: 2.5rem; 
    }
    .text-center .columna{
      height: 150px;
      transition: all .3s ease-in-out;
      cursor: pointer;
    }
    .experiencia .text-center{
      margin-left: 0%;
      margin-right: 5px;
    }
    .columna:hover p {
      display: block;
      opacity: 1;
      color: #4b4747;
      font-size: 14px;
    }

    .beneficios h1{
      font-size: 2.1rem;
    }

    .beneficios .row{
      padding: 2px 2px 2px 2px;
      height: auto;
      width: 100%;
      border-radius: 10px;

    
    }
    .beneficios .row .columna{
      margin-bottom: 25px;
      background-color: #ffffffc4;
      padding-left: 6px;

    }

    .beneficios .row .columna h3{
      font-size: 1.5rem; 
      margin-bottom: 23px;
      font-weight: 500;
      color: black;
    }
    
    .beneficios .row .columna ul{
      display: flex;
      flex-direction: column;
      list-style: none;
      cursor: default;
    
    }
    .beneficios .row .columna ul li{
      margin: 5px;
      font-size: .8rem;
      text-align: center;
      margin-right: 20px;
    }
    
    .footer {
      text-align: center;
    }
  
    .footer .col-12 {
      margin-bottom: 20px;
    }
    
  }

  
 
