/* Fondo gris para todo el viewport */
.bg-grey {
    background-color: rgb(196, 194, 194);
  }
  
  /* Contenedor principal */
  .container-fluid {
    padding: 15px 25px;
    background-color: rgb(221, 219, 219);
  }
  
  /* Estilo para la tarjeta */
  .card {
    border-radius: 10px;
    padding: 10px 15px;
  }
  
  h2 {
    color: rgb(51, 50, 50);
  }
  
  .card-title {
    font-weight: 500;
    font-size: 25px;
  }
  
  .label {
    text-align: left;
    font-weight: 400;
    margin-bottom: 5px;
  }
  
  ::placeholder {
    opacity: .5;
  }
  
  /* Estilo para el botón */
  .btn {
    width: 100%;
    margin-top: 20px;
    border-radius: 10px;
    padding: 10px 15px;
    font-size: 14px;
    font-weight: 400;
    color: rgb(255, 255, 255);
    background-color: rgb(79, 113, 192);
    border: 1px solid rgb(47, 67, 112);
  }
  
  /* Margen para la tarjeta en pantallas pequeñas */
  @media (max-width: 576px) {
    .card {
      margin: 20px;
    }
  }
  