<div class="contenedor-principal">
  <!-- MOSTRAR EL NUMERO DE PACIENTES DEL DIA -->
  <div *ngIf="mostrarMensajeTurno" class="anuncio-paciente alert alert-info" routerLink="/pacientes-dia">
    Tienes {{ pacientesConTurnoHoy }} paciente(s) con turno hoy.
  </div>

  <!-- TARJETA DE BIENVENIDA PARA PACIENTE -->
  <section *ngIf="userRol === 'paciente'" class="seccion-clara bienvenida-paciente">
    <div class="container text-center">
      <div class="row justify-content-center">

        <div class="col-12 col-md-10 bienvenida-contenido">

          <div class="d-flex align-items-center justify-content-center bienvenida-saludo">
            <img src="/assets/saludo.png" alt="Saludo" class="img-fluid bienvenida-imagen">
            <h2 class="mb-0 ms-3 bienvenida-texto">Hola, {{ usuario?.nombres | titlecase }}!</h2>
          </div>

          <div class="mensaje-bienvenida mt-4">
            <p class="bienvenida-mensaje">¡Qué bueno es tenerte de vuelta!</p>
          </div>
        </div>
      </div>
    </div>
  </section>

  <div class="diagnosticos-container" *ngIf="userRol === 'paciente'">
    <button class="btn btn-diagnosticos" routerLink="/mis-diagnosticos">
      Ver Diagnósticos
    </button>
  </div>

  

  <!-- SECCION DE LAS FUNCIONES MEDICO O ADMINISTRADOR -->
  <section *ngIf="userRol === 'medico'" class="experiencia seccion-clara">
    <div class="container text-center">
      <div class="row">
        <!-- Tarjeta Agregar Pacientes -->
        <div class="columna col-12 col-md-4" routerLink="/pacientes/nuevo">
          <img src="/assets/registro de paciente icono.png" alt="Agregar Pacientes" class="icono-img">
          <p class="experiencia-titulo">Agregar Pacientes</p>
          <p>Conectando tu salud con el futuro, hoy.</p>
        </div>

        <!-- Tarjeta Turnos para Hoy -->
        <div class="columna col-12 col-md-4" routerLink="/pacientes-dia">
          <img src="/assets/turnos de hoy.png" alt="Turnos para Hoy" class="icono-img">
          <p class="experiencia-titulo">Turnos para Hoy</p>
          <p>Eficiencia y cuidado en cada paso hacia tu bienestar.</p>
        </div>

        <!-- Tarjeta Diagnósticos Realizados -->
        <div class="columna col-12 col-md-4" routerLink="/pacientes-diagnosticos">
          <img src="/assets/diagnosticos realizados.png" alt="Diagnósticos Realizados" class="icono-img">
          <p class="experiencia-titulo">Diagnósticos Realizados</p>
          <p>Precisión y claridad en cada análisis para tu salud.</p>
        </div>
      </div>
    </div>
  </section>

  <!-- SECCION DE BOTONES DE REGISTRO PARA ADMINISTRADOR -->
  <section *ngIf="userRol === 'administrador'" class="seccion-clara">
    <div class="container text-center">
      <div class="row">
        <div class="col-12 col-md-6">
          <button class="btn btn-outline-primary w-100 mb-3" routerLink="/registro" [queryParams]="{ rol: 'medico' }">
            Registrar Médico
          </button>
        </div>
        <div class="col-12 col-md-6">
          <button class="btn btn-outline-secondary w-100 mb-3" routerLink="/registro" [queryParams]="{ rol: 'paciente' }">
            Registrar Paciente
          </button>
        </div>
      </div>
    </div>
  </section>
</div>
