
<section class="hero align-items-stretch">
  <div class="hero-principal d-flex flex-column justify-content-start align-item-center">
    <i class="fa-regular fa-calendar-check "></i>
    <h1 class="poppins-medium rubik-dirt-regular ">Medic-App</h1>
    <h2>Agendar turno nunca fue tan fácil</h2>
  </div>
</section>



<!--<div class="inicio">

      <div class="containerSearch">
        <div class="row">
          <div class="label">
            <p>Buscar Paciente</p>
          </div>
          <div class="col">
            <app-search></app-search>
          </div>
        </div>
      </div>
      
      <div class="containerSearch" routerLink="/pacientes">
        <div class="row">
            <div class="col">
              <a class="notice" ><h3>Tienes {{numeroPacientes}} <span *ngIf="numeroPacientes<2">paciente agregado</span><span *ngIf="numeroPacientes>1">pacientes agregados</span> </h3></a> 
                <h3 *ngIf="numeroPacientes<1"> sin pacientes</h3>
            </div>
        </div>
      </div>

 </div>  -->

       


  
