
.rubik-dirt-regular {
  font-family: "Rubik Dirt", system-ui;
  font-weight: 400;
  font-style: normal;
}

.inicio{
  display: flex;
  justify-content: center;
}



  .container{
    width: 80vh;
    background-color: #eeebe8;
    margin-top: 3rem;
    margin: 15px;
    padding: 3rem;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
    border-radius: 15px;
    flex-wrap: wrap;
  }
  h3{
    font-size: 15px;

  }
  .notice{
    text-decoration: none;
    cursor: pointer;
    transition: all .3s;
  }
 .col{
  transition: all .2s;
  text-align: center;
 }
 .log-out{
  display: felx;
  font-size: 13px;
  position: absolute;
  top: 45px;
  left: 83%;
  cursor: pointer;
  transition: all 250ms;
  color: rgb(0, 0, 0);
  font-weight: 300;
  z-index: 1;
  transition: all .5s;
  z-index: 1;

}
.log-out:hover{
  color: rgb(71, 70, 70);
  
  
}

section{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
section i{
  font-size: 46px;
}
h1{
  font-size: 3.5rem;
  font-weight: 500;
  font-family: 'Rubik Dirt';
  }
/*Hero*/

.hero{
  background-color: #f5f6f7;
  min-height: 450px;
  text-align: center;

}
.hero-principal{
  padding: 3rem;

}
.hero-principal h2{
  font-size: 1rem;
  color: #6c6a6a;

}

@media screen and (min-width: 700px){

}