<div class="container">
  <h1>Turnos Agendados</h1>
    <div class="row" *ngIf="turnos.length > 0">

      <div class="col-12">
        <p class="mensaje">{{ mensajeTurnos }}</p>
        <ul class="turnos-lista">
          <li *ngFor="let turno of turnos" class="turno-item">
            <p class="turno-fecha"><small class="small fecha-texto">Fecha y hora del turno:</small> {{ turno.fechaHora | date: 'fullDate' }} a las {{ turno.fechaHora | date: 'shortTime' }}</p>
            <p class="turno-medico"><small class="small">Médico:</small> {{ turno.nombreMedico | titlecase }}</p>
          </li>
        </ul>
      </div>

    </div>
      <div class="no-turnos" *ngIf="turnos.length === 0">
        <p>No tienes turnos agendados actualmente.</p>
      </div>

</div>