
:host {
  display: block;
  background-color: #f4f4f4;
  min-height: 100vh; /* Asegura que ocupe al menos el 100% de la altura de la ventana */
  padding: 1rem;
  box-sizing: border-box; /* Asegura que el padding se incluya en la altura total */
}

.contenedor-principal {
  width: 100%;
  height: auto; /* Permite que el contenedor crezca con el contenido */
  margin: 0;
  padding:4rem 2rem;
  box-sizing: border-box; /* Asegura que padding y bordes se incluyan en el tamaño total */
  overflow-y: auto; /* Habilita el scroll vertical */
}


.container{
  text-align: left;
}

.contenedor-loading{

  margin-top: -2rem;
}

.large{
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;

}
.textP,
.textP-1{
  line-height: 38px;
  text-align: center;
  font-weight: 300;
}

.textP-3{
  line-height: 38px;
  font-weight: 300;
  text-align: center;

}

.cita{
  color: rgb(224, 85, 85);
}

h1{
  font-size: 45px;
  text-align: center;
  font-family: 'Rubik Dirt';
}

.enlaceNombre{
  text-decoration: none;
  color: black;
  transition: all 200ms;
} 

.enlaceNombre:hover{
  color: grey;
}



/* tabla de pacientes */

.table{
  margin: 2rem auto;
  table-layout:fixed;
  overflow: hidden;
  width: 100%;
}

table.rounded-table .index-columna {
  width: 40px;
  text-align: center;
}

table.rounded-table .icon-cell {
  display: flex;
  justify-content: center;
  align-items:center;
  flex-wrap: wrap; 
  gap: 5px; 
}


table.rounded-table th{
  text-align: center;
  line-height: 50px;
  word-wrap: break-word; 
  overflow-wrap: break-word;
}



table.rounded-table th:first-child,
table.rounded-table td:first-child {
  border-left: 0px;
}

table.rounded-table th:last-child,
table.rounded-table td:last-child {
  border-right: 5px;
}


table.rounded-table tr:first-child th:first-child {
  border-top-left-radius: 5px;
}

table.rounded-table tr:first-child th:last-child {
  border-top-right-radius: 5px;
}

table.rounded-table tr:last-child td:first-child {
  border-bottom-left-radius: 0px;
}

table.rounded-table tr:last-child td:last-child {
  border-bottom-right-radius: 0px;
}

table tr th{
background-color: rgb(39, 126, 198);
font-weight: 400;
text-align: center;
align-items: center;
height: 4rem;
color: white;
}

table.rounded-table td {
  padding: 5px;
  text-align: center;
  word-wrap: break-word; 
  overflow-wrap: break-word; 
}

.tabla-pacientes {
  width: 100%;
}



/*tabla resultado de la búsqueda por fecha cita*/

.large.table {
  width: 100%;
  border-collapse: collapse;
  margin: 1rem auto;
  table-layout:auto; 
}

.large.table th, .large.table td {
  padding: 7px;
  text-align: center;
  overflow-wrap: break-word; 
  word-wrap: break-word; 
  hyphens: auto;
}

.large.table td,
.index-columna,
.textP-1,
.cedula-columna,
.correo-columna,
.turno-columna,
.icon-cell:hover{
  background-color: rgba(240, 240, 240, 0.988);
}


.index-columna {
  width: 40px; 
}


/* boton añadir */

.botonFecha i, .btnA i {
  font-size: 1.3rem; /* Ajusta el tamaño del ícono */
}

.formFecha1, .formFecha2 {
  max-width: 200px; /* Ajusta el ancho máximo de los inputs */
}

.no-border {
  border: none !important; /* Elimina el borde */
  box-shadow: none !important; /* Elimina cualquier sombra */
}

.gradient-blue {
  background: linear-gradient(to right, #00c6ff, #0072ff); /* Gradiente azul celeste */
  color: white; /* Color del texto blanco */
  border: none; /* Eliminar bordes */
}

.gradient-blue:hover {
  background: linear-gradient(to right, #0072ff, #00c6ff); /* Invertir el gradiente al hacer hover */
}



.bloque{
width: 60px;
text-align: end;
position: absolute;
top: 13%;
left: 46px;
color: rgb(156, 183, 233);
z-index: 1;
cursor:default;
}

.botin{
font-size: 16px;
border: none;
transition: all 300ms;
color: rgb(106, 155, 187);
}

.botin:hover{
background-color: transparent;
scale: 1.2;
color: rgb(83, 103, 176);
}

.botin2{
font-size: 15px;
border: none;
transition: all 300ms;
color: rgb(115, 115, 140);

}

.botin2:hover{
background-color: transparent;

scale: 1.2;
}

.botin3{
font-size: 17px;
border: none;
transition: all 300ms;
color: rgb(97, 115, 132);
}

.botin3:hover{
background-color: transparent;
scale: 1.2;
color: rgb(61, 120, 148);
}

.botin4{
border: none;
font-size: 20px;
margin-right: 3px;
color: rgb(8, 162, 8);
background-color: transparent;
transition: all .3s;

}

.botin4:hover{
transform: scale(1.2);
}

.basura{
color: rgb(116, 108, 108);
}

.animate__animated.animate__fadeIn {
      --animate-duration: 500ms;
}

.animate__animated.animate__fadeInRightBig {
  --animate-duration: 500ms;
}

.alerta{
  background-color: transparent;
  border: none;
  box-shadow: none;
}

.loading{
  text-align: center;
}

.custom-tooltip{
  font-size: 5px;
  color: red;
}




@media screen and (max-width: 600px) {
  table.rounded-table th,
  table.rounded-table td {
    font-size: 11px; 
    padding: 2px; 
  }

  table tr th {
    height: auto; 
  }
  table.rounded-table .icon-cell {
    flex-direction: column;
    font-size: 9px;
  }
}

/*media query del filtro de busqueda fecha*/

@media screen and (max-width: 768px) {
  .contenedorFiltro {
    width: 100%;
    padding: 10px;
  }

  .formFecha {
    flex-direction: column;
    align-items: center;
  }

  .formFecha1, .formFecha2, .botonFecha2 {
    width: 100%;
    margin: 5px 0;
  }

  .botonFecha2 .botonCancelar {
    margin-left: 10px;
    margin-top: 10px;
  }

  .formFecha button {
    margin-left: 0;
    margin-top: 20px;
  }
}

@media screen and (max-width: 768px){
  .contenedor-loading{
    display: flex;
    justify-content: center;
  }

  table.rounded-table th,
  table.rounded-table td {
    font-size: 9px; 
    padding: 1px; 
  }

  table tr th {
    height: 20px; 
  }

  table.rounded-table .icon-cell {
    flex-direction: column;
    font-size: 9px;
  }

  .contenedorFiltro {
    width: 100%;
    padding: 10px;
  }

  .formFecha {
    flex-direction: column;
    align-items: center;
  }

  .formFecha1, .formFecha2, .botonFecha2 {
    width: 100%;
    margin: 5px 0;
  }

  .botonFecha2 .botonCancelar {
    margin-left: 10px;
    margin-top: 10px;
  }

  .formFecha button {
    margin-left: 0;
    margin-top: 20px;
  }
  .large.table .d-flex {
    flex-wrap: wrap;
    justify-content: center;
}

.large.table .botin, 
.large.table .botin2, 
.large.table .botin3, 
.large.table .botin4 {
    margin-left: 20px;
    padding: 0px;
    display: flex;

}
}


.card-container {
  display: none;
}

@media (max-width: 992px) {
  .table-striped.tabla-pacientes{
    display: none;
  }

  .card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 8px;
    width: 100%;
    box-sizing: border-box;
    overflow-x: hidden; /* Elimina el scroll horizontal */
  }

  .card-paciente {
    flex: 1 1 calc(40% - 8px); /* Hace que cada tarjeta ocupe 50% menos el gap */
    max-width: calc(40% - 8px); /* Asegura que el tamaño máximo también sea 50% menos el gap */
    box-sizing: border-box; 
    flex-direction: column;
    border: 1px solid #ddd;
    background-color: white;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.3);
    display: flex;
    align-items: center; /* Centra horizontalmente el contenido */
    justify-content: center; /* Centra verticalmente el contenido */
    text-align: center; /* Asegura que el texto esté centrado */
    margin-bottom: 8px;
    padding: 6px;
  }

  .card-image {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60%;
    height: 150px; /* Ajusta esta altura según prefieras */
    overflow: hidden;
    background-color: #f0f0f0; /* Fondo para imágenes que no llenan el contenedor */
    border-radius: 8px; /* Ajusta si quieres bordes redondeados */
  }
  
  .card-image img {
    width: 100%; /* Hace que la imagen ocupe todo el ancho del contenedor */
    height: 100%; /* Hace que la imagen ocupe todo el alto del contenedor */
    object-fit: cover; /* Cubre el área del contenedor manteniendo la proporción */
  }

  .card-details {
    padding: 10px; /* Reduce el padding dentro de la sección de detalles */
  }

  .card-details p {
    line-height: 1.5; /* Reduce el interlineado */
    margin-bottom: 2px; /* Reduce el margen inferior */
  }

  .card-actions {
    gap: 4px; /* Reduce el espacio entre los iconos */
    padding: 10px; /* Reduce el padding alrededor de los iconos */
  }

  .card-actions i {
    font-size: 1.4rem; /* Reduce el tamaño de los iconos */
  }
}

@media (max-width: 525px) {
  .card-paciente {
    margin-top: 2rem;
    flex: 1 1 100%; /* Asegura que la tarjeta ocupe todo el ancho en pantallas muy pequeñas */
    max-width: 100%; /* Limita el ancho máximo al 100% */
    margin: auto;
    width: 220px;
    margin-bottom: 16px;
    
    padding: 0 5px; /* Reduce el padding para aprovechar mejor el espacio */
  }

  .card-image {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 150px; /* Ajusta esta altura según prefieras */
    overflow: hidden;
    background-color: #f0f0f0; /* Fondo para imágenes que no llenan el contenedor */
    border-radius: 8px; /* Ajusta si quieres bordes redondeados */
  }

 
}

@media (max-width: 768px) {
  .card-image img {
    max-width: 75%; /* Reduce el tamaño de la imagen al 80% del contenedor */
    height: auto; /* Mantiene la proporción de la imagen */
   
  }
  .card-actions i {
    font-size: 1.1rem; /* Reduce el tamaño de los iconos */
  }
}

@media (max-width: 525px) {
  .card-paciente {
    flex: 1 1 100%;
    max-width: 80%;
    margin: auto;
    margin-bottom: 2.5rem;
    gap: 5px;
    width: 150px; /* Reduce aún más el ancho de la tarjeta */
    padding: 4px; /* Reduce el padding para aprovechar mejor el espacio */
  }

  .card-image img {
    max-width: 50%; /* Reduce el tamaño de la imagen al 50% del contenedor */
    margin-bottom: 2px;
    height: auto;
  }

  .card-details {
    padding: 6px; /* Reduce el padding en los detalles */
  }

  .card-details p {
    line-height: 1.5; /* Reduce más el interlineado */
    margin-bottom: 1px; /* Reduce el margen inferior */
    font-size: 1rem; /* Reduce el tamaño de la fuente */
  }

  .card-actions {
    padding: 4px; /* Reduce el padding de las acciones */
    gap: 2px; /* Reduce el espacio entre los íconos */
  }

  .card-actions i {
    font-size: 1.6rem; /* Reduce el tamaño de los iconos */
  }
}





