<div class="container">
  <div class="row">
    <div class="col">
      <ul *ngIf="auth">

        <li class="row">
          <h4 [routerLink]="['/inicio']" (click)="cerrarSesion()"  class="log-out">Cerrar Sesión</h4>
        </li>
      
      </ul> 
    </div>
  </div>
</div>


<div class="container mb-3 animate__animated animate__fadeInRightBig">

   

<div class="container2 animate__animated animate__fadeInRightBig">
    <div class="row">
        <div class="col">
            <h1>Lista de Pacientes</h1>
            <hr>
            <div class="row">
              <div class="col">
                  <button routerLink="/pacientes/nuevo" 
                  class=" btnA btn btn-outline-primary btn-lg">
                  <i class="fa-solid fa-user-plus faI"></i>
                  </button>

                  
                  
              </div>
          </div>
      </div>
            <table class="large table animate__animated animate__fadeIn fast">
                <thead class="table-primary th">
                  <tr>
                    <th scope="col"></th>
                    <th scope="col">Nombre Completo</th>
                    <th scope="col">Cédula</th>
                    <th scope="col">Correo</th>
                    <th scope="col">Fecha de la cita</th>
                    <th scope="col"></th>
                    
                  </tr>
                </thead>
                <tbody *ngFor="let paciente of pacientes; let i = index">
                  <tr >
                    
                    <td class="textP" scope="row">{{i + 1}}</td>
                    <td class="textP-1"><a class="enlaceNombre" [routerLink]="['/pacientes/paciente',paciente.id]">{{paciente.nombres}}</a></td>
                    <td class="textP">{{paciente.cedula}}</td>
                    <td class="textP">{{paciente.correo}}</td>
                    <td class="textP-3"><span class="cita" *ngIf="!paciente.turno">No tine cita</span>{{paciente.turno}}</td>
                    <td class="d-flex justify-content-md-center">
                        
                        <button type="button" (click)="sendMessage(paciente.telefono, paciente.turno, paciente)" class="botin4"><i class="fa-brands fa-whatsapp"></i></button>
                        <button type="button" [routerLink]="['/pacientes','pacientes','id',paciente.id]" class="btn btn-outline-success botin3 "><i class="fa-solid fa-calendar-days"></i></button>
                        <button type="button" [routerLink]="['/pacientes',paciente.id]" class="btn btn-outline-primary botin "><i class="fa-solid fa-pen"></i></button>
                        <button type="button" (click)="borrar(i,paciente)" class="btn btn-outline-danger botin2"><i class="fa-solid fa-trash basura"></i></button>
                    </td>
                  </tr>
        
                </tbody>
            </table> 
            <div *ngIf="senal" class=" alerta alert alert-warning text-center mt-4 animate__animated animate__fadeIn">
                <h5 class="alert-heading d-flex justify-content-md-center align-items-center">no hay pacientes</h5>
                <i class="fa fa-exclamation fa-2x"></i>
            </div>   
        </div>
    </div>
  </div>

    
