

<div class="contenedor">
    <div class="form login formulario">
        <div class="form content">
            <h1>Iniciar Sesión</h1>

            <form (submit)="ingresar(f)"
            #f="ngForm">
                
                <div class="field input-field">
                    <input type="text" 
                    placeholder="Correo" 
                    class="form-control input"
                    #email="ngModel"
                    name="email"
                    [(ngModel)]="usuario.email"
                    required
                    [class.is-invalid]="email.invalid && email.touched">
                    <small *ngIf="email.invalid && email.touched"
                    class="avisos form-text text-danger animate__animated animate__fadeIn">correo no válido
                    </small>
                </div>
                
                <div class="field input-field">
                    <input [type]="mostrar? 'text' : 'password'" 
                            placeholder="Contraseña"
                            class="form-control password"
                            name="password"
                            [(ngModel)]="usuario.password"
                            required
                            minlength="6">

                    <small *ngIf="f.submitted && f.controls['password'].errors"
                        class=" avisos form-text text-danger">contraseña debe contener al menos 6 caracteres
                    </small>
                    <div *ngIf="!mostrar">
                        <i (click)='toggleMostrar()' class="fa fa-eye-slash eye-icon"></i>
                    </div>
                    <div *ngIf="mostrar">
                        <i (click)='toggleMostrar()' class="fa fa-eye eye-icon"></i>
                    </div>
                </div>

                <div class="c d-flex mt-3">
                    <div class="contact100-form-checkbox justify-content-center">
                        <input [(ngModel)]="saveUser"  class="check input-checkbox100" id="ckb1" type="checkbox" name="remember-me">
                        <label class="label-check label-checkbox100" for="ckb1">
                         Recordar Usuario
                        </label>
                    </div>
                
                    <div class="form-link forgot">
                        <a class="forpas forgot-pass" routerLink="/recuperaPassword">Cambiar la clave</a>
                        
                    </div>
                </div>

                <div class="field button-field">
                    <button>Ingresar</button>
                </div>
               
              <!--  <div class="form-link">
                   <span> No tienes una cuenta?<a routerLink="/registro"><small>Regístrate</small> </a></span> 
                </div> -->
                
            </form>
        </div>
    </div>
    
    
</div>
<router-outlet></router-outlet>
