<div class="row">
    <div class="col">
        <i routerLink="/pacientes" class=" atras fa-solid fa-circle-left"></i>
    </div>
</div>


<div class="container animate__animated animate__fadeIn" >
    <h2 class="titulo"> Datos del Paciente </h2>
    <hr>

</div>


<div class="container-sm animate__animated animate__fadeIn">
    <div class="row">
        <div class="col">
            <ul class="lista">
                <li><h3 class="listChild">Nombres: <small class="listParent">{{paciente.nombres}}</small> </h3></li>
                <li><h3 class="listChild">Cédula: <small class="listParent">{{paciente.cedula}}</small> </h3></li>
                <li><h3 class="listChild">Correo: <small class="listParent">{{paciente.correo}}</small> </h3></li>
                <li><h3 class="listChild">Teléfono: <small class="listParent">{{paciente.telefono}}</small> </h3></li>
                <li><h3 class="listChild">Domicilio: <small class="listParent">{{paciente.direccion}}</small> </h3></li>
                <div *ngIf="paciente.turno"><li><h3 class="listChild" >Fecha de la cita: <small class="listParent">{{paciente.turno | date:'fullDate':'default':'es'}}</small> </h3></li></div>
            </ul>
            <div class="boton">
                <button class="btn btn-secondary" routerLink="/pacientes">Regresar</button>
            </div>
        </div>
    </div>
</div>
