.lista{
    list-style:none;
    margin-top: 15px;
    margin-left: 2rem;
}

.titulo{
    margin-left: 3rem;
}
.container{
    margin-top: 35px;
    text-align: center;
}
.h2{
    text-align: center;
}

.tituloPaciente{
    font-weight:lighter;
    margin-left: 10px;
    letter-spacing: 1px;

    
}

.listParent{
    margin-bottom: 10px;
    letter-spacing: 1px;
    font-weight: 300;
    margin-left: 6px;
    
}
ul li:nth-child(1){
    margin-bottom: 30px;

}
.listChild{
    font-size: 19px;
    font-weight: 400;

}

.atras{
    color: rgb(70, 135, 209);
    font-size: 25px;
    margin-top: 1rem;
    margin-left: 8rem;
    z-index: 1;
    cursor: pointer;
    transition: all 300ms;
    display: none;

    
}
.atras:hover{
    transform: scale(1.2);
}

.log-out{

    font-size: 13px;
    position: absolute;
    top: -80px;
    left: 95%;
    cursor: pointer;
    transition: all 250ms;
    color: rgb(0, 0, 0);
    font-weight: 300;
    z-index: 1;
    transition: all .5s;
    z-index: 1;

  }
  .log-out:hover{
    color: rgb(71, 70, 70);
  }
  .boton{
    text-align: center;
    margin-top: 35px;
  }
  .diagnostico{
        margin-top: 15px;
        justify-content: center;

  }
.diagnostico-titulo{
    font-size: 24px;
    font-weight: 600;
    margin-left: 10px;
    letter-spacing: 1px;
    padding: 1rem;
    display: flex;
    justify-content: flex-start;
}
.diagnostico-fecha{
    padding-left: 15px;
    margin-right: 7px
}
  .contenedor-diagnostico button{
    background-color: white;
    border: none;
    
    color: rgb(55, 89, 164);

  }
  .container .fila{

  }

  .contenedor-diagnostico button i{
    font-size: 35px;
    
  }
  .conenedorAcordeon{
    display: flex;
  }
  .accordion-body {
    min-height: 200px; /* Establece una altura mínima */
    max-height: 400px; /* Establece una altura máxima */
    overflow-y: auto;  /* Permite desplazamiento vertical si el contenido es mayor que la altura máxima */
    white-space: pre-wrap; /* Permite que el texto largo pase a la siguiente línea */
  }