.lista{
    list-style:none;
    margin-top: 15px;
    margin-left: 2rem;
}

.titulo{
    margin-left: 3rem;
}
.container{
    
}

.tituloPaciente{
    font-weight:lighter;
    margin-left: 10px;
    letter-spacing: 1px;

    
}

.listParent{
    margin-bottom: 10px;
    letter-spacing: 1px;
    font-weight: 200;
    margin-left: 6px;
    
}
.listChild{
    font-size: 19px;
    font-weight: 400;

}

.atras{
    color: rgb(70, 135, 209);
    font-size: 25px;
    margin-top: 1rem;
    margin-left: 8rem;
    z-index: 1;
    cursor: pointer;
    transition: all 300ms;
    display: none;

    
}
.atras:hover{
    transform: scale(1.2);
}