.hero {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh; /* Hace que el contenedor ocupe toda la altura de la pantalla */
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.tarjeta-perfil {
  background-color: #fff;
  border-radius: 10px;
  padding: 2rem;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Estilos para el contenedor de la foto */
.bloque-foto {
  width: 150px; /* Ancho del contenedor de la foto */
  height: 150px; /* Altura del contenedor de la foto */
  border-radius: 50%; /* Hace el contenedor redondo */
  overflow: hidden; /* Asegura que la imagen no se salga del contenedor */
  margin-bottom: 20px; /* Espacio debajo de la foto */
}

/* Estilos para la imagen */
.bloque-foto img {
  width: 100%; /* Asegura que la imagen ocupe todo el contenedor */
  height: 100%; /* Asegura que la imagen ocupe todo el contenedor */
  object-fit: cover; /* Hace que la imagen se ajuste al contenedor y mantenga su proporción */
  border-radius: 50%; /* Hace la imagen redonda */
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2); /* Añade una sombra para darle más estilo */
}

.usuario-perfil {
  font-size: 5rem;
  color: #007bff; /* Azul para el ícono de usuario */
}

.cedula {
  color: #28a745; /* Verde para el ícono de cédula */
  font-size: 1.5rem; /* Ajusta el tamaño si es necesario */
}

.telefono {
  color: #25d366; /* Verde de WhatsApp para el ícono de teléfono */
  font-size: 1.5rem; /* Ajusta el tamaño si es necesario */
}

.direccion {
  color: #dc3545; /* Rojo para el ícono de dirección */
  font-size: 1.5rem; /* Ajusta el tamaño si es necesario */
}

.cake-icon {
  color: #007bff; /* Azul */
  margin-right: 8px; /* Espacio entre el ícono y el texto */
  margin-left: 1.5px;
  margin-bottom: 4px;
  font-size: 1.6rem; /* Ajusta el tamaño del ícono */
}

.cedula, 
.telefono, 
.direccion {
  margin-right: 8px; /* Agrega un margen derecho para separar el ícono del texto */
  vertical-align: middle; /* Alinea el ícono verticalmente con el texto */
}

.bloque-datos {
  text-align: center;
  margin-bottom: 2rem;
}

.bloque-datos h2 {
  font-size: 2rem; /* Tamaño mayor para el nombre del usuario */
  font-weight: bold;
  margin-bottom: 1rem;
  color: #333; /* Color oscuro para destacar */
}

/* Texto de especialidad o título */
.bloque-datos .especialidad {
  font-size: 1.5rem; /* Tamaño adecuado para la especialidad */
  font-weight: 600;
  color: #555;
  margin-bottom: 1rem;
  text-align: center; /* Asegura que el texto esté centrado */
  display: block;
}

/* Texto de edad, cédula, teléfono y dirección */
.bloque-datos p {
  font-size: 1.2rem; /* Tamaño estándar para los demás datos */
  font-weight: 400;
  color: #666; /* Color gris para el resto del texto */
  margin-bottom: 0.5rem;
  display: flex; /* Para alinear el ícono con el texto en línea */
  align-items: center; /* Asegura que el texto y el ícono estén centrados verticalmente */
}

/* Título de la experiencia laboral */
.bloque-experiencia h3 {
  font-size: 1.8rem; /* Tamaño grande para el título de la experiencia */
  font-weight: 700;
  margin-bottom: 1rem;
  text-align: center;
  color: #333; /* Color oscuro */
}

/* Lista de experiencia profesional */
.bloque-experiencia ul {
  font-size: 1.2rem; /* Tamaño estándar para la lista de experiencia */
  color: #555;
}

/* Botón de editar perfil */
.bloque-editar button {
  font-size: 1.2rem; /* Tamaño cómodo para el botón */
  font-weight: 600;
  padding: 0.75rem 1.5rem; /* Espaciado adecuado para un botón importante */
  color: #fff;
  background-color: #007bff;
  border: none;
  border-radius: 5px;
}

@media (max-width: 768px) {
  /* Reducir el tamaño del nombre del usuario */
  .bloque-datos h2 {
    font-size: 1.5rem; /* Tamaño reducido */
  }

  /* Reducir el tamaño del texto de la especialidad */
  .especialidad {
    font-size: 1.2rem; /* Tamaño reducido */
  }

  /* Reducir el tamaño del resto de los textos */
  .bloque-datos p,
  .bloque-experiencia h3,
  .bloque-experiencia ul,
  .bloque-editar button {
    font-size: 1rem; /* Tamaño reducido */
  }
}

@media (max-width: 526px) {
  /* Reducir el tamaño del nombre del usuario */
  .bloque-datos h2 {
    font-size: 1.5rem; /* Tamaño reducido */
  }

  /* Reducir el tamaño del texto de la especialidad */
  .especialidad {
    font-size: 1.2rem; /* Tamaño reducido */
  }

  /* Reducir el tamaño del resto de los textos */
  .bloque-datos p,
  .bloque-experiencia h3,
  .bloque-experiencia ul,
  .bloque-editar button {
    font-size: 1rem; /* Tamaño reducido */
  }

  .bloque-editar button {
    font-size: 1rem; /* Tamaño cómodo para el botón */
    font-weight: 400;
    padding: 0.75rem 1.5rem; /* Espaciado adecuado para un botón importante */
    border: none;
    border-radius: 8px;
  }
  
  .btn-full-width {
    width: 100%;
  }
}
