<section class="hero align-items-stretch">
    <div class="container d-flex justify-content-center">
      <div class="tarjeta-perfil col-12 col-md-10 col-lg-8">
        <!-- Primer Bloque: Foto del Usuario -->
        <div class="bloque-foto d-flex justify-content-center align-items-center">
          <div *ngIf="usuario?.fotoUrl; else defaultIcon">
            <img [src]="usuario.fotoUrl" alt="Foto de {{ usuario?.nombres }}" class="img-fluid rounded-circle">
          </div>
          <ng-template #defaultIcon>
            <i class="usuario-perfil fa-solid fa-user"></i>
          </ng-template>
        </div>
  
        <!-- Segundo Bloque: Datos del Usuario -->
        <div class="bloque-datos">
          <h2>{{usuario?.nombres | titlecase}}</h2>
          <p class="especialidad" *ngIf="usuario?.rol === 'medico' || usuario?.rol === 'administrador'">{{ usuario?.especialidad | titlecase }}</p>
          <p *ngIf="usuario?.rol === 'paciente' || usuario?.rol === 'medico'" class="edad"><i class="fa-solid fa-cake-candles cake-icon"></i> {{ usuario?.edad }} años</p>
          <p *ngIf="usuario?.cedula"><i class="cedula bi bi-person-vcard-fill"></i>{{ usuario?.cedula}}</p>
          <p *ngIf="usuario?.telefono"><i class="telefono bi bi-whatsapp"></i>{{ usuario?.telefono}}</p>
          <p *ngIf="usuario?.rol === 'medico' || usuario?.rol === 'administrador' || usuario?.rol === 'paciente'"><i class="direccion bi bi-geo-alt-fill"></i> {{ usuario?.direccionConsultorio | titlecase }}</p>
        </div>
  
        <!-- Tercer Bloque: Experiencia Laboral -->
        <div *ngIf="usuario?.informacionProfesional?.length > 0" class="bloque-experiencia">
          <h3>Experiencia Profesional</h3>
          <ul class="list-group">
            <li class="list-group-item" *ngFor="let profesion of usuario?.informacionProfesional">{{ profesion | titlecase}}</li>
          </ul>
        </div>
  
        <!-- Cuarto Bloque: Botón para Editar Información -->
        <div class="bloque-editar">
          <button class="btn btn-secondary" routerLink="/configuracion-usuario">Editar Perfil</button>
        </div>
      </div>
    </div>
  </section>
  